.DS_Store

target/

.metadata/

#idea
.idea/
*.iml
*.ipr
*.iws


.settings/

.classpath

.project

#scala
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/

#vim,vm
*.swp

Thumbs.db
Desktop.ini
*.bak
*.bk


# netbeans specific files
# in this file (profiles.xml)  placed on the top level project directroy are stored different machine specific informations (e.g. the Application Server) 
profiles.xml
nb-configuration.xml
jboss4-netbeans-destinations-service.xml
jboss-ds.xml
jboss-web

/phrs-modules/dataexcahnge/target/
/phrs-modules/.idea/
/phrs-modules/.settings/
/phrs-modules/security/.settings/
/phrs-modules/security/target/
/phrs-modules/phrs-util/target/
/phrs-modules/consenteditor/.settings/
/phrs-modules/messaging/.settings/
/phrs-modules/phrs-ear/target/
/phrs-modules/simple-view/target/
/phrs-modules/consenteditor/target/
/phrs-modules/dataexchange/target/
