.DS_Store

target/

.metadata/

#idea
.idea/
*.iml

.settings/

.classpath

.project

#scala
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/

#vim,vm
*.swp

Thumbs.db
Desktop.ini
*.bak
*.bk
